@page "/readings/{UserId}"
@using BlazorWASMLocalSqliteExample.Models
@using BlazorWASMLocalSqliteExample.Services
@inject IUserService userService;

<h3>Readings for @user.Name</h3>
<h5>Id: @user.Guid</h5>
<table>
   <thead>
        <tr>
            <th>Guid</th>
            <th>Blood Pressure</th>
            <th>Pulse</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var reading in user.BloodPressureReadings)
        {
            <tr>
                <td>@reading.Guid</td>
                <td>@reading.Systolic/@reading.Diastolic</td>
                <td>@reading.Pulse</td>
            </tr>
        }
    </tbody>
</table>

@code {
    [Parameter, EditorRequired]
    public string UserId { get; set; }
    private User user = default!; 

    protected override async Task OnInitializedAsync()
    {

        user = await userService.GetUserByGuidAsync(Guid.Parse(UserId));
    }
}
